[Unit]
Description=Arkbot Dashboard

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/arkserver/Arkbot/dashboard.py
Restart=on-failure
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target
