version: 1
disable_existing_loggers: False
formatters:
    simple:
        format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout

    debug_file_handler:
        class: logging.handlers.RotatingFileHandler
        level: DEBUG
        formatter: simple
        filename: debug.log
        maxBytes: 500000 # 0.5MB
        backupCount: 10
        encoding: utf8

    info_file_handler:
      class: logging.handlers.RotatingFileHandler
      level: INFO
      formatter: simple
      filename: info.log
      maxBytes: 500000 # 0.5MB
      backupCount: 5
      encoding: utf8

    scripts_file_handler:
      class: logging.handlers.RotatingFileHandler
      level: INFO
      formatter: simple
      filename: scripts.log
      maxBytes: 500000 # 0.5MB
      backupCount: 5
      encoding: utf8


root:
    level: ERROR
    handlers: [debug_file_handler]

loggers:
  "ark_manager":
    level: DEBUG
    handlers: [debug_file_handler, console, info_file_handler]
  "arkbot":
    level: DEBUG
    handlers: [debug_file_handler, console, info_file_handler]
  "moddodo":
    level: DEBUG
    handlers: [debug_file_handler, console, info_file_handler]
  "ark_discord_bot":
      level: DEBUG
      handlers: [debug_file_handler, console, info_file_handler]
  "ark_dashboard":
      level: DEBUG
      handlers: [debug_file_handler, console, info_file_handler]
  "ark_updater":
      level: DEBUG
      handlers: [debug_file_handler, console, scripts_file_handler]
  "ark_mods_updater":
      level: DEBUG
      handlers: [debug_file_handler, console, scripts_file_handler]
  "ark_other_scripts":
    level: DEBUG
    handlers: [debug_file_handler, console, scripts_file_handler]
  "default":
    level: DEBUG
    handlers: [debug_file_handler, console, info_file_handler]