<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/e82563777d.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
          /* Show it is fixed to the top */
        body {
          min-height: 75rem;
          padding-top: 5rem;
        }

    </style>
    <title>{% block title %}Arkbot: {{server.name}}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Arkbot: Dashboard</a> <small>{{version}}</small>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gamelog">Gamelog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/server_control">Server Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">History Graphs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashlog">Dashlog</a>
            </li>
        </ul>
    </div>
    <div class="locks" id="locks">
        {% for lock in locks %}
            {% if lock.is_locked %} <a href="/api/unlock/{{lock.name}}"><i class="fas fa-lock" title="{{lock.name|title}}: {{lock.message}}" data-toggle="tooltip" data-placement="bottom"></i></a> {% endif %}
        {% endfor %}
        <span class="spinner-grow spinner-grow-sm text-light" role="status" id="updater_loader">
            <span class="sr-only">Loading...</span>
        </span>
    </div>
</nav>

<main class="container-fluid">
    {% for lock in locks %}
            {% if lock.is_locked and lock.name == "warning" %} <div class="alert alert-danger" role="alert">
  <b>{{lock.name}}</b>: {{lock.message}}
</div> {% endif %}
    {% endfor %}

    {% block content %}
    {% endblock %}
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>
function GetJSON(yourUrl){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",yourUrl,false);
    Httpreq.send(null);
    return JSON.parse(Httpreq.responseText);
}

var update_available = GetJSON("/api/check_update");
console.log(update_available);
document.getElementById("updater_loader").remove();
if (update_available.success == true) {
        document.getElementById("locks").innerHTML += '<a href="/api/update"><i class="fas fa-exclamation-triangle text-danger" title="Update available!" data-toggle="tooltip" data-placement="bottom"></i></a>';
}
</script>

{% block extra_scripts %}

{% endblock %}

</body>
</html>